:root {
  --black: #000000;
  --white: #ffffff;
  --aqwa: #00887A;
  --pink: #ffccbc;
  --grey: #d3e3fc;
  --blue: #77a6f7;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  color: var(--black);
  
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.list {
  display: flex;
  flex-direction: column;
}
.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: var(--pink);
  font-weight: 500;
  line-height: 22.4px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  padding: 14px 0;
  color: var(--aqwa);
}
.main {
  padding: 20px 0 20px 0;
}

.flex {
  display: flex;
  align-items: center;
}

.card{
  display: flex;
  background: radial-gradient(118.88% 606.86% at 0% 0%, var(--pink)0%, var(--grey) 100%);
  backdrop-filter: blur(6px);
  border: 1px solid #24C5DB;
  border-radius: 20px;
  padding-left: 10px;
  margin: 5px 7px;
  cursor: pointer;
  transition: 0.8s all;
}
.card img{
  padding: 10px;
  width: 200px;
}
.card-descr{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}
.author{
  font-size: 20px;
  color: var(--aqwa);
}
.title{
  font-size: 26px;
  font-weight: 700;
  color: var(--black);
}
.show-more {
  font-style: italic;
}
.add-bag{
  border-radius: 15px;
  border: 1px solid var(--blue);
  padding: 2px 5px 2px 5px;
  margin-left: 15px;
 background-color: var(--blue);
 color: var(--white);
}